/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.dfs-title {
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 72px;
    margin: 2em 0;
}

.dfs-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dfs-teor {

}

.dfs-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 70px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: white;
}

.dfs-card .row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 35px;
}

.dfs-card .dfs-card-body {
    flex: 1 1 auto;
    padding: 5px 5px;
}

.dfs-card .dfs-card-graph {
    flex: 1 1 auto;
    padding: 5px 5px;
    height: 300px;
    width: 100%;
    display: contents;
}

.dfs-card .dfs-column {
    width: 50%;
    display: flex;
    align-items: start;
}


.dfs-card .dfs-column.dfs-column-right {
    flex-direction: column;
    align-items: center;
}

.dfs-card .dfs-card-title {
    font-weight: bold;
}

.dfs-card .dfs-card-text {
    font-size: 2rem;
}

.dfs-card .dfs-card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.dfs-card .dfs-card-input {

}

.dfs-card .dfs-empty-cell {
    background-color: #777;
    min-width: 60px;
}

.dfs-card .dfs-card-buttons {
    margin-top: 10px;
    vertical-align: bottom;
}

.dfs-card .dfs-card-buttons .btn {
    margin-right: 5px;
}

.dfs-card .dfs-column-right .dfs-card-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}
